{% extends 'profile_base.html' %}

{% block title %}{{ user.username }}'s About{% endblock %}

{% block content %}
    <div class="col-lg-6">
        {% if request.user.pk == user.pk %}
        <div class="card">
            <div class="card-body">
                <form method="POST" novalidate">
                    {% csrf_token %}
                    {% include 'include/form.html' %}
                    <button type="submit" class="btn btn-primary btn-block">Update about</button>
                </form>
            </div>
        </div>
        {% else %}
        <p>Name : {{ user.get_full_name }}</p>
        <p>Email : {{ user.email }}</p>
        <p>Sex : {{ user.sex }}</p>
        <p>School : {{ user.school }}</p>
        <p>College : {{user.college }}</p>
        <p>Field of study : {{ user.field_of_study }}</p>
        <p>Year of Study : {{ user.year_of_study }}</p>
        {% endif %}
    </div>
{% endblock %}