{% extends 'profile_base.html' %}

{% block title %}Edit About{% endblock %}

{% block content %}
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <form method="POST" novalidate">
                    {% csrf_token %}
                    {% include 'include/form.html' %}
                    <button type="submit" class="btn btn-primary btn-block">Update about</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}