{% extends 'profile_base.html' %}
{% load friendshiptags %}
{% block title %}{{ user.username }}'s Friends{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-6">
            {% if request.user.pk == user.pk %}
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Friend Requests</h3>
                    <div>
                        {% for friend_request in friend_requests %}
                        <a href="{% url 'profile' friend_request.from_user.username friend_request.from_user.pk %}">
                            <img src="{{ friend_request.from_user.profile_pic.url }}" class="rounded float-left img-thumbnail"  width="50px" height="50px">
                            <h4>{{ friend_request.from_user.username }}</h4>
                        </a>
                        <form method="POST" action="{% url 'add_friend_request' friend_request.from_user.pk True %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-dark">Confirm</button>
                        </form>
                        <form method="POST" action="{% url 'add_friend_request' friend_request.from_user.pk False %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-dark">Reject</button>
                        </form>
                        {% empty %}
                        <h5>No Friend Request</h5>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Sent Request</h3>
                    {% for sent_request in sent_requests %}
                    <a href="{% url 'profile' sent_request.to_user.username sent_request.to_user.pk %}">
                        <img src="{{ sent_request.to_user.profile_pic.url }}"
                            class="rounded float-left img-thumbnail" width="50px" height="50px">
                        <h4>{{ sent_request.to_user.username }}</h4>
                    </a>
                    <form method="POST" action="{% url 'cancel_friend_request' sent_request.to_user.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-dark">Cancel Request</button>
                    </form>
                    {% empty %}
                    <h5>No sent friend requests</h5>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Friends</h3>
                    <div>
                        {% for friend in friends %}
                        <a href="{% url 'profile' friend.user.username friend.user.pk %}">
                            <img src="{{ friend.user.profile_pic.url }}" class="rounded float-left img-thumbnail"  width="50px" height="50px">
                            <span class="align-middle float-left ml-2" style="display: inline" >
                                <h4> {{ friend.user.username }}</h4>
                            </span>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}