{% extends 'profile_base.html' %}
{% load humanize %}

{% block content %}
<div>
    <div class="col-lg-4 col-md-6 col-sm-8">
        <h3 class="mb-2">{{ post.user.username }}</h3>
        <small class="text-muted">{{ post.created_at|naturaltime }}</small>
        <p>{{ post.content }}</p>
        <form method="POST" novalidate>
            {% csrf_token %}
            {% include 'include/form.html' %}
            <button type="submit" class="btn btn-outline-dark">comment</button>
        </form>
        {% for comment in post.get_comments %}
            <h5 class="mb-2">{{ comment.user.username }}</h5>
            <small class="text-muted">{{ comment.created_at|naturaltime }}</small>
            <p>{{ comment.content }}</p>
            <hr>
        {% endfor %}
</div>
{% endblock %}