{% extends 'profile_base.html' %}
{% load humanize widget_tweaks form_tags %}
{% block title %}{{ user.username }}{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            
            {% if request.user.pk == user.pk %}
            <div>
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Update</h3>
                        <form method="POST" novalidate>
                            {% csrf_token %}
                            {% render_field form.content class=form.content|input_class %}
                            {% for error in form.content.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-outline-dark">Post it</button>
                        </form>
                    </div>
                </div>
            </div>
            {% else %}
                {% if are_friends %}
                    <button type="button" class="btn btn-social btn-disabled mt-4 mb-0">Friends</button>
                {% elif request_sent %}
                    <a href="{% url 'add_friend_request' user.pk True %}" style="display: flex">
                        <button type="button" class="btn btn-outline-dark">Confirm</button>
                    </a>
                    <a href="{% url 'add_friend_request' user.pk False %}">
                        <button type="button" class="btn btn-outline-dark">Reject</button>
                    </a>
                {% else %}
                    <a href="{% url 'add_friend' user.pk %}">
                        <button class="btn btn-outline-dark" type="button">Add Friend</button>
                    </a>
                {% endif %}
            {% endif %}
            <div>
                {% for post in posts %}
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'profile' user.username user.pk %}">
                            <h4 class="card-title card-link mb-0">{{ user.username }}</h4>
                        </a>
                        <small class="text-muted " style="font-size:10px">{{ post.created_at|naturaltime }}</small>
                        <h4 class="card-text">{{ post.content }}</h4>
                        <div>
                            <a href="{% url 'post_like' user.username user.pk post.pk %}">
                                <i class="far fa-heart"><strong> {{ post.get_likes }}</strong></i>
                            </a>
                            <a href="{% url 'post_comment' user.username user.pk post.pk %}">
                                <i class="far fa-comment-dots"><strong> {{ post.get_comment_count }}</strong></i>
                            </a>
                        </div>
                        <div>
                            {% for comment in post.get_comments %}
                            <div class="card mb-0 mt-1">
                                <div class="card-body">
                                <a href="{% url 'profile' comment.user.username comment.user.pk %}">
                                    <p class="small mb-0">{{ comment.user.username }}</p>
                                </a>
                                <p class="mb-0">{{ comment.content }}</p>
                                <small class="text-muted">
                                    {{ comment.created_at|naturaltime }}
                                </small>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}